---
title: Removing Blocks
tags: todo, removals, blocks
description:
    placeholder
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Removing Blocks

This article is not written yet...