---
title:
tags: mods, forge, 1.20.1
description: Performance mods for Forge 1.20.1
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Performance mods for Forge 1.20.1

## Highly recommended list

These mods are the most highly tested, stable, and performant mods out there. We recommend adding **all** of these (or relevant alternatives) to modpacks, unless in the extremely rare cases of incompatibilities or issues. In cases of mod issues, report them to the relevant parties' issue tracker.

| Name                                                                                                   | Description                                                                                                                                                                                                                | Additional Notes                                                                                                                                                              | Alternatives                                                                                                                                 |
| ------------------------------------------------------------------------------------------------------ | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------- |
| [Alternate Current](https://www.curseforge.com/minecraft/mc-mods/alternate-current)                    | Vanilla-compatible redstone optimizations                                                                                                                                                                                  | -                                                                                                                                                                             | -                                                                                                                                            |
| [Connectivity](https://www.curseforge.com/minecraft/mc-mods/connectivity)                              | Fix Login timeouts, Packet sizes errors, Payloads errors, ghostblocks and more                                                                                                                                             | -                                                                                                                                                                             | [Packet Fixer](https://www.curseforge.com/minecraft/mc-mods/packet-fixer)                                                                    |
| [Crash Assistant](https://www.curseforge.com/minecraft/mc-mods/crash-assistant)                        | Shows a GUI after Minecraft crashes, immediately showing and analyzing all affected logs.                                                                                                                                  | Does not improve game performance by itself - instead helps diagnose issues when they do happen                                                                               | -                                                                                                                                            |
| [Cyanide](https://www.curseforge.com/minecraft/mc-mods/cyanide)                                        | Reduces data pack world generation pain by providing useful, informative error messages.                                                                                                                                   | Does not improve  game performance by itself - instead changes worldgen crash logs to be more readable                                                                        | -                                                                                                                                            |
| [Dynamic FPS](https://www.curseforge.com/minecraft/mc-mods/dynamic-fps)                                | Improve performance when Minecraft is in the background                                                                                                                                                                    | -                                                                                                                                                                             | [FPS Reducer](https://www.curseforge.com/minecraft/mc-mods/fps-reducer)                                                                      |
| [Bobby Reforged](https://www.curseforge.com/minecraft/mc-mods/bobby-reforged)                          | Allows for render distances greater than the server's view-distance setting                                                                                                                                                | -                                                                                                                                                                             | [Farsight](https://www.curseforge.com/minecraft/mc-mods/farsight), though this mod lacks a chunk caching feature.                            |
| [Embeddium](https://www.curseforge.com/minecraft/mc-mods/embeddium)                                    | A powerful, mod-friendly, FOSS client performance mod for NeoForge                                                                                                                                                         | -                                                                                                                                                                             | [Xenon](https://www.curseforge.com/minecraft/mc-mods/xenon)                                                                                  |
| [FastFurnace](https://www.curseforge.com/minecraft/mc-mods/fastfurnace)                                | A performance upgrade for the furnace                                                                                                                                                                                      | -                                                                                                                                                                             | -                                                                                                                                            |
| [FastSuite](https://www.curseforge.com/minecraft/mc-mods/fastsuite)                                    | A performance upgrade for the JSON recipe system                                                                                                                                                                           | -                                                                                                                                                                             | -                                                                                                                                            |
| [FastWorkbench](https://www.curseforge.com/minecraft/mc-mods/fastworkbench)                            | A performance upgrade for the crafting table                                                                                                                                                                               | Adds tooltips to Crafting Tables while the mod is installed. Can be disabled by going to `config/fastbench.cfg` and setting `"Disable tooltip on crafting table"` to `false`. | -                                                                                                                                            |
| [FerriteCore](https://www.curseforge.com/minecraft/mc-mods/ferritecore)                                | Memory usage optimizations                                                                                                                                                                                                 | -                                                                                                                                                                             | -                                                                                                                                            |
| [Flerovium](https://www.curseforge.com/minecraft/mc-mods/flerovium)                                    | Greatly improve your fps with virtually no side-effects on graphics quality                                                                                                                                                | -                                                                                                                                                                             | -                                                                                                                                            |
| [Gnetum](https://www.curseforge.com/minecraft/mc-mods/gnetum)                                          | Distribute HUD updates over multiple frames to improve performance                                                                                                                                                         | -                                                                                                                                                                             | -                                                                                                                                            |
| [ImmediatelyFast](https://www.curseforge.com/minecraft/mc-mods/immediatelyfast)                        | Speeds up immediate mode rendering in Minecraft                                                                                                                                                                            | -                                                                                                                                                                             | -                                                                                                                                            |
| [Lithium](https://www.curseforge.com/minecraft/mc-mods/lithium)                                        | An optimization mod for Minecraft which improves server performance significantly.                                                                                                                                         | -                                                                                                                                                                             | [Canary](https://www.curseforge.com/minecraft/mc-mods/canary), though this mod is considered exceedingly worse for performance and stability |
| [Load My Fucking Tags](https://www.curseforge.com/minecraft/mc-mods/lmft)                              | Prevents Incorrect Tag Entries from breaking an entire Tag                                                                                                                                                                 | Does not improve  game performance by itself - instead attempts to resolve issues caused by mods having incorrectly formatted tag entries                                     | -                                                                                                                                            |
| [Log Begone](https://www.curseforge.com/minecraft/mc-mods/log-begone)                                  | Allows you to stop entries from being logged in game console through phrases or regex                                                                                                                                      | -                                                                                                                                                                             | -                                                                                                                                            |
| [Max Health Fix](https://www.curseforge.com/minecraft/mc-mods/max-health-fix)                          | Fixes a bug with max health in Minecraft                                                                                                                                                                                   |                                                                                                                                                                               | -                                                                                                                                            |
| [Modernfix](https://www.curseforge.com/minecraft/mc-mods/modernfix)                                    | All-in-one mod that improves performance, reduces memory usage, and fixes many bugs                                                                                                                                        | Enabling [Dynamic Resources](https://github.com/embeddedt/ModernFix/wiki/Dynamic-Resources-FAQ) can halve RAM usage                                                           | -                                                                                                                                            |
| [ServerCore](https://www.curseforge.com/minecraft/mc-mods/servercore)                                  | Several patches & optimizations to improve performance and reduce lag spikes                                                                                                                                               | Highly configurable                                                                                                                                                           | -                                                                                                                                            |
| [Spark](https://www.curseforge.com/minecraft/mc-mods/spark)                                            | Performance profiler for Minecraft clients, servers and proxies                                                                                                                                                            | Does not improve  game performance by itself - instead is a profiling tool to help diagnose performance issues                                                                | -                                                                                                                                            |
| [Structure Essentials](https://www.curseforge.com/minecraft/mc-mods/structure-essentials-forge-fabric) | Essential features for structures: Faster locating, distance adjustments, nearby structure command, automatic structure biome compat, structure overlap prevention, random source crash prevention, debug logging and more | -                                                                                                                                                                             | -                                                                                                                                            |
| [Too Fast](https://www.curseforge.com/minecraft/mc-mods/too-fast)                                      | Removes the server-side limitations on player speed that result in "player XYZ moved too fast" messages in the console and rubber-banding.                                                                                 | -                                                                                                                                                                             | -                                                                                                                                            |

## Mileage may vary list

While not necessarily unstable or unperformant, these mods are not held to the same standards as the ones above, and thus cannot be recommended as a must-have in good faith. It is still recommended to browse this list and test out some of these mods to see if they have relevant performance impacts or issues in any packs you have. 

| Name | Description | Additional Notes | License | Equivalents |
| ---- | ----------- | ---------------- | ------- | ----------- |
|      |             |                  |         |             |