---
title: Utility mods for Forge 1.20.1
tags: mods, forge, 1.20.1
description: Utility mods for Forge 1.20.1
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Utility mods for Forge 1.20.1

These are mods that're essential for creating, removing, and editing aspects of the game to create custom content and unique experiences for a modpack.

| Name                                                                                     | Description                                                                                                                                               | Additional Notes | Alternatives                                                                                                                                        |
| ---------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------- | ---------------- | --------------------------------------------------------------------------------------------------------------------------------------------------- |
| [AStages](https://www.curseforge.com/minecraft/mc-mods/astages)                          | Restrict nearly every aspect of gameplay based on progression                                                                                             | -                | -                                                                                                                                                   |
| [Bad Mobs](https://www.curseforge.com/minecraft/mc-mods/bad-mobs)                        | A mod to blacklist mobs from spawning                                                                                                                     | -                | -                                                                                                                                                   |
| [Biome Replacer](https://www.curseforge.com/minecraft/mc-mods/biome-replacer)            | A quick way to get rid of a biome                                                                                                                         | -                | -                                                                                                                                                   |
| [CraftTweaker](https://www.curseforge.com/minecraft/mc-mods/crafttweaker)                | Change recipes, script events, add new commands, and change item properties with ZenScript                                                                | -                | -                                                                                                                                                   |
| [Game Stages](https://www.curseforge.com/minecraft/mc-mods/game-stages)                  | Staging API                                                                                                                                               | -                | -                                                                                                                                                   |
| [In Control](https://www.curseforge.com/minecraft/mc-mods/in-control)                    | Control mob spawns via verbose JSON configuration                                                                                                         | -                | -                                                                                                                                                   |
| [JSON Things](https://www.curseforge.com/minecraft/mc-mods/json-things)                  | A mod that enables players to define blocks and items (and more!) via thingpacks, zip files similar to datapacks and resource packs                       | -                | -                                                                                                                                                   |
| [KubeJS](https://www.curseforge.com/minecraft/mc-mods/kubejs)                            | Edit recipes, add new custom items, script world events through JavaScript                                                                                | -                | -                                                                                                                                                   |
| [Lithostitched](https://www.curseforge.com/minecraft/mc-mods/lithostitched)              | Library mod with new configurability and compatibility enhancements for worldgen                                                                          | -                | -                                                                                                                                                   |
| [Lychee](https://www.curseforge.com/minecraft/mc-mods/lychee)                            | Define in-world crafting & interactions using JSON recipes, such as item interaction, burning, touching fluid, anvil, crushing, lightning, and exploding. | -                | -                                                                                                                                                   |
| [Mob Control](https://www.curseforge.com/minecraft/mc-mods/ohaydens-mob-control)         | Rule-based mob spawning and AI configuration                                                                                                              | Closed Source    | -                                                                                                                                                   |
| [Multiblocked2](https://www.curseforge.com/minecraft/mc-mods/multiblocked2)              | Powerful visual custom machine/multiblock mod                                                                                                             | -                | -                                                                                                                                                   |
| [Open Loader](https://www.curseforge.com/minecraft/mc-mods/open-loader)                  | Open Loader is a utility mod that allows data packs and resource packs to be applied globally across all save files in a game instance.                   | -                | [Paxi](https://www.curseforge.com/minecraft/mc-mods/paxi)                                                                                           |
| [Reliable Recipes](https://www.curseforge.com/minecraft/mc-mods/reliable-recipes)        | A lightweight utility for dynamic recipe and tag manipulation via simple JSON configuration                                                               | -                | -                                                                                                                                                   |
| [Reliable Remover](https://www.curseforge.com/minecraft/mc-mods/reliable-remover)        | A lightweight utility for completely removing items via simple JSON configuration.                                                                        | -                | [Item Obliterator](https://www.curseforge.com/minecraft/mc-mods/item-obliterator), though this mod was made to address critical issues of this mod. |
| [Reliable Replacer](https://www.curseforge.com/minecraft/mc-mods/reliable-replacer)      | A lightweight utility for replacing one block with another, both during worldgen and afterward.                                                           | -                | [Block Swap](https://www.curseforge.com/minecraft/mc-mods/block-swap), though this mod was made to address critical issues of this mod.             |
| [ServerConfig Updater](https://www.curseforge.com/minecraft/mc-mods/serverconfig-updater)| Utility mod that keeps DefaultConfigs in sync with worlds' serverConfigs between modpack updates                                                          | -                |                                                                                                                                                     |
| [Structurify](https://www.curseforge.com/minecraft/mc-mods/structurify)                  | GUI-based structure configuration                                                                                                                         | -                | -                                                                                                                                                   |
