---
title: 
tags: mods, forge, 1.20.1
description:
    <category> mods for Forge 1.20.1
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Utility mods for Forge 1.20.1

These are mods that're essential for creating, removing, and editing aspects of the game to create custom content and unique experiences for a modpack.

| Name                                                                                | Description                                                                                                                                               | Additional Notes                                 | License             | Alternatives                                                                                                                                        |
| ----------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------ | ------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------- |
| [CraftTweaker](https://www.curseforge.com/minecraft/mc-mods/crafttweaker)           | Change recipes, script events, add new commands, and change item properties with ZenScript                                                                | -                                                | MIT                 | -                                                                                                                                                   |
| [JSON Things](https://www.curseforge.com/minecraft/mc-mods/json-things)             | A mod that enables players to define blocks and items (and more!) via thingpacks, zip files similar to datapacks and resource packs                       | -                                                | BSD                 | -                                                                                                                                                   |
| [KubeJS](https://www.curseforge.com/minecraft/mc-mods/kubejs)                       | Edit recipes, add new custom items, script world events through JavaScript                                                                                | Arguably the most powerful packdev mod out there | GNU LGPL            | -                                                                                                                                                   |
| [Lithostitched](https://www.curseforge.com/minecraft/mc-mods/lithostitched)         | Library mod with new configurability and compatibility enhancements for worldgen                                                                          | Essential for any pack that does custom worldgen | MIT                 | -                                                                                                                                                   |
| [Lychee](https://www.curseforge.com/minecraft/mc-mods/lychee)                       | Define in-world crafting & interactions using JSON recipes, such as item interaction, burning, touching fluid, anvil, crushing, lightning, and exploding. | -                                                | All Rights Reserved | -                                                                                                                                                   |
| [Modular Machinery](https://www.curseforge.com/minecraft/mc-mods/modular-machinery) | Configurable, dynamic, custom, complex machinery                                                                                                          | -                                                | GNU LGPL            | -                                                                                                                                                   |
| [Multiblocked2](https://www.curseforge.com/minecraft/mc-mods/multiblocked2)         | Powerful visual custom machine/multiblock mod                                                                                                             | -                                                | GNU LGPL            | -                                                                                                                                                   |
| [Open Loader](https://www.curseforge.com/minecraft/mc-mods/open-loader)             | Open Loader is a utility mod that allows data packs and resource packs to be applied globally across all save files in a game instance.                   | -                                                | GNU LGPL            | [Paxi](https://www.curseforge.com/minecraft/mc-mods/paxi)                                                                                           |
| [Reliable Recipes](https://www.curseforge.com/minecraft/mc-mods/reliable-recipes)   | A lightweight utility for dynamic recipe and tag manipulation via simple JSON configuration                                                               | -                                                | MIT                 | -                                                                                                                                                   |
| [Reliable Remover](https://www.curseforge.com/minecraft/mc-mods/reliable-remover)   | A lightweight utility for completely removing items via simple JSON configuration.                                                                        |                                                  | MIT                 | [Item Obliterator](https://www.curseforge.com/minecraft/mc-mods/item-obliterator), though this mod was made to address critical issues of this mod. |
| [Reliable Replacer](https://www.curseforge.com/minecraft/mc-mods/reliable-replacer) | A lightweight utility for replacing one block with another, both during worldgen and afterward.                                                           |                                                  | MIT                 | [Block Swap](https://www.curseforge.com/minecraft/mc-mods/block-swap), though this mod was made to address critical issues of this mod.             |
