---
title: Adding new items/blocks
tags: todo
description: Adding new items/blocks
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Adding new items/blocks

This article is not written yet...