---
title: Utility mods for Fabric 1.21.1
tags: mods, fabric, 1.21.1
description: Utility mods for Fabric 1.21.1
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Utility mods for Fabric 1.21.1

| Name                                                                                | Description                                                                                                                             | Additional Notes | Alternatives                                                                                                                                        |
| ----------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------- | ---------------- | --------------------------------------------------------------------------------------------------------------------------------------------------- |
| [Biome Replacer](https://www.curseforge.com/minecraft/mc-mods/biome-replacer)       | A quick way to get rid of a biome                                                                                                       | -                | -                                                                                                                                                   |
| [CraftTweaker](https://www.curseforge.com/minecraft/mc-mods/crafttweaker)           | Change recipes, script events, add new commands, and change item properties with ZenScript                                              | -                | -                                                                                                                                                   |
| [Lithostitched](https://www.curseforge.com/minecraft/mc-mods/lithostitched)         | Library mod with new configurability and compatibility enhancements for worldgen                                                        | -                | -                                                                                                                                                   |
| [Mob Control](https://www.curseforge.com/minecraft/mc-mods/ohaydens-mob-control)    | Rule-based mob spawning and AI configuration                                                                                            | Closed Source    | -                                                                                                                                                   |
| [Open Loader](https://www.curseforge.com/minecraft/mc-mods/open-loader)             | Open Loader is a utility mod that allows data packs and resource packs to be applied globally across all save files in a game instance. | -                | [Paxi](https://www.curseforge.com/minecraft/mc-mods/paxi)                                                                                           |
| [Reliable Recipes](https://www.curseforge.com/minecraft/mc-mods/reliable-recipes)   | A lightweight utility for dynamic recipe and tag manipulation via simple JSON configuration                                             | -                | -                                                                                                                                                   |
| [Reliable Remover](https://www.curseforge.com/minecraft/mc-mods/reliable-remover)   | A lightweight utility for completely removing items via simple JSON configuration.                                                      |                  | [Item Obliterator](https://www.curseforge.com/minecraft/mc-mods/item-obliterator), though this mod was made to address critical issues of this mod. |
| [Reliable Replacer](https://www.curseforge.com/minecraft/mc-mods/reliable-replacer) | A lightweight utility for replacing one block with another, both during worldgen and afterward.                                         | -                | -                                                                                                                                                   |
| [Structurify](https://www.curseforge.com/minecraft/mc-mods/structurify)             | GUI-based structure configuration                                                                                                       | -                | -                                                                                                                                                   |
| [Open Loader](https://www.curseforge.com/minecraft/mc-mods/open-loader)             | Open Loader is a utility mod that allows data packs and resource packs to be applied globally across all save files in a game instance. | -                | [Paxi](https://www.curseforge.com/minecraft/mc-mods/paxi)                                                                                           |