---
title: 
tags: mods, fabric, 1.21.1
description:
    <category> mods for Fabric 1.21.1
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Utility mods for Fabric 1.21.1

| Name | Description | Additional Notes | License |
| ---- | ----------- | ---------------- | ------- |
|      |             |                  |         |