---
title: 
tags: mods, fabric, 26.1
description:
    <category> mods for Fabric 26.1
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Miscellaneous mods for Fabric 26.1

| Name | Description | Additional Notes | License |
| ---- | ----------- | ---------------- | ------- |
|      |             |                  |         |