---
title: Custom dimensions
tags: todo
description: placeholder
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Custom dimensions

https://www.planetminecraft.com/blog/custom-world-generation-documentation/

