---
title: Utility mods for Fabric 26.1
tags: mods, fabric, 26.1
description: Utility mods for Fabric 26.1
---

<script lang="ts">
import { Discord } from '$lib/reusables';
</script>

# Utility mods for Fabric 26.1

| Name | Description | Additional Notes | License |
| ---- | ----------- | ---------------- | ------- |
|      |             |                  |         |